#singleMew {
	list-style: none;
	text-align: center;
}

.listItem {
	width: 50%;
	margin: 0 auto;	
	margin-top: 10px;
	border-bottom-style: ridge;
}

.mewDiv{
	margin:10px;
	text-align: center;
}

.delete {
	text-align: right;
}

#deleteButton {
	border-radius: 10px;
	margin: 10px;
}

.days {
	vertical-align: super;
	text-align: left;
	margin-left: 5px;

}

.mewInfo {
	display: inline-flex;


}